<p>Listado de Heroes</p>

<div *ngIf="deletedHero; else nothingWasDelted">
    <h3>Heroe Borrado <small class="text-danger"> {{deletedHero}} </small></h3>
</div>

<ng-template #nothingWasDelted>
    <h3 *ngIf="!deletedHero">No ha borrado nada.</h3>
</ng-template>

<button
    *ngIf="heroNames.length > 0"
    (click)="removeLastHero()"
    class="btn btn-outline-danger">
    Borrar ultimo héroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor = "let name of heroNames"
        class="list-group-item">
        {{ name }}
    </li>
</ul>